annotated-types==0.6.0
anyio==3.7.1
click==8.1.7
cloudpickle==3.0.0
-e git+ssh://git@github.com/ZachHammack2022/connect4.git@fc58129c2ea6a1294511c4f9d7dd43bab9c327fd#egg=connect4_project
contourpy==1.2.0
cycler==0.12.1
exceptiongroup==1.2.0
Farama-Notifications==0.0.4
fastapi==0.105.0
filelock==3.13.1
fonttools==4.47.0
fsspec==2023.12.2
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h11==0.14.0
idna==3.6
Jinja2==3.1.2
kiwisolver==1.4.5
MarkupSafe==2.1.3
matplotlib==3.8.2
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.2
packaging==23.2
pandas==2.1.4
Pillow==10.1.0
pipdeptree==2.13.1
pydantic==2.5.3
pydantic_core==2.14.6
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
Shimmy==1.3.0
six==1.16.0
sniffio==1.3.0
stable-baselines3==2.2.1
starlette==0.27.0
sympy==1.12
torch==2.1.2
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2023.3
uvicorn==0.25.0
